@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@300;500&family=Zen+Kurenaido&display=swap');
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  width: 25%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: rgb(78, 184, 216);
}
div>h1{
  margin-bottom: 10%;
 }
body{
 height: 100vh;
background: linear-gradient(to bottom, #201027 0%, #6b0466 100%);

}
@media(max-width:480px){
  .container{
    width: 100%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: rgb(78, 184, 216);
  }
  div>h1{
    margin-bottom: 10%;
  }
}